@media only screen and (max-width: 500px) {
  .menu {
    flex-direction: column;
    align-items: flex-start; }
    .menu .navbar-links {
      opacity: 0;
      visibility: hidden;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: all 0.5s ease-in; }
      .menu .navbar-links ul {
        flex-direction: column;
        width: 100%; }
      .menu .navbar-links li {
        text-align: center; }
      .menu .navbar-links a {
        padding: 0.5rem 1rem; }
    .menu .navbar-links.active {
      opacity: 1;
      visibility: visible; }
  .hamburger {
    display: block !important;
    z-index: 5;
    transition: all 0.5s ease-in; }
    .hamburger.closeham {
      transition: all 0.5s ease-in; }
      .hamburger.closeham .line:nth-child(1) {
        transform: rotate(45deg) translate(7px, 4px);
        transition: all 0.5s ease-in; }
      .hamburger.closeham .line:nth-child(2) {
        transform: translateX(-50px);
        background: transparent;
        transition: all 0.5s ease-in; }
      .hamburger.closeham .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -5px);
        transition: all 0.5s ease-in; }
  .hikers {
    border: 2px solid #797a49;
    grid-template-columns: 1fr !important;
    grid-auto-rows: 300px; } }

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start; }
    .menu .navbar-links {
      visibility: hidden;
      flex-flow: column wrap;
      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: all 0.5s ease-in;
      position: absolute;
      background-color: #131a2f;
      transform: translate(0, -100%); }
      .menu .navbar-links ul {
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .menu .navbar-links li {
        text-align: center; }
      .menu .navbar-links a {
        padding: 0.5rem 1rem; }
    .menu .navbar-links.active {
      visibility: visible;
      transform: translate(0, 0); }
  .hamburger {
    display: block !important;
    z-index: 5;
    transition: all 0.5s ease-in; }
    .hamburger.closeham {
      transition: all 0.5s ease-in; }
      .hamburger.closeham .line:nth-child(1) {
        transform: rotate(45deg) translate(7px, 4px);
        transition: all 0.5s ease-in; }
      .hamburger.closeham .line:nth-child(2) {
        transform: translateX(-50px);
        background: transparent;
        transition: all 0.5s ease-in; }
      .hamburger.closeham .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -5px);
        transition: all 0.5s ease-in; }
  .searchbox input {
    width: 95% !important; }
  .wrapper {
    width: 95% !important; }
  .funactivities {
    grid-template-columns: 1fr !important; }
    .funactivities .activitiesimg1 {
      grid-column: 1/2 !important;
      grid-row: 2 !important; }
  .populardestination .box .boxes .name,
  .recommended .box .boxes .name,
  .activities .box .boxes .name {
    visibility: visible;
    height: 25%;
    width: 100%;
    transition: 0.5s ease-in-out;
    transform: translate(0, 0);
    bottom: 0;
    text-align: center; } }

@media only screen and (min-width: 769px) and (max-width: 1170px) {
  .populardestination .box .boxes .name,
  .recommended .box .boxes .name,
  .activities .box .boxes .name {
    visibility: visible;
    height: 25%;
    width: 100%;
    transition: 0.5s ease-in-out;
    transform: translate(0, 0);
    bottom: 0;
    text-align: center; } }
