@import "config.scss";
@import "mobile.scss";
@import "normalize";
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,900;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  //   width: 100%;
  height: 100vh;
  //   max-width: 2000px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: $dark;
  line-height: 1.6;
}
h1,
h2,
h3 {
  line-height: 1;
}
p {
  margin-top: 0;
}
ul {
  list-style: none;
}

header {
  position: fixed;
  background-color: $dark;
  //   padding: 1em;
  width: 100%;
  // height: 80px;
  //   max-width: 80%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  z-index: 2;
  //   margin-top: 50px;
}
footer {
  background-color: $dark;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 50px;
  .footercontent {
    color: white;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in;
  &.logo {
    // display: flex;
    justify-content: center;
    position: fixed;
    float: left;
  }
  .navbar-links {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.3s ease 0.15s;
    -moz-transition: all 0.3s ease 0.15s;
    -o-transition: all 0.3s ease 0.15s;
    -ms-transition: all 0.3s ease 0.15s;
    transition: all 0.3s ease 0.15s;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      transition: all 0.5s ease-in;
      a {
        text-decoration: none;
        color: $light;
        padding: 1rem;
        display: block;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
.hamburger {
  position: absolute;
  top: 3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  .line {
    height: 3px;
    width: 100%;
    background-color: $light;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.5s ease-in;
  }
}
.wrapper {
  color: $dark;
  background-color: $light;
  border: 2px solid $dark;
  width: 50%;
  height: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 5px;
  .select-header {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
    .header-title {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .select-list {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.75) !important;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500%;
    margin-top: 20px;
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
    li {
      list-style-type: none;
      &:first-of-type > button {
        border-top: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-of-type > button {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      button {
        display: flex;
        justify-content: space-between;
        background-color: white;
        font-size: 16px;
        padding: 15px 20px 15px 20px;
        border: 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: left;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        &:hover,
        &:focus {
          cursor: pointer;
          // font-weight: bold;
          background-color: #ccc;
        }
      }
    }
  }
}
// select {
//   border-color: $dark;
//   border: 2px solid;
//   // background: transparent;
//   width: 50%;
//   border-radius: 0;
//   margin-top: 20px;
//   display: block;
//   font-size: 14px;
//   color: $dark;
//   padding: 10px;
//   &::before {
//     content: "\25bc";
//   }
//   &::after {
//     // margin-top: 20px;
//     // padding: 10px 150px;

//     // text-align: left;

//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 50px;
//     height: 100%;
//     line-height: 38px;
//     //
//     text-align: center;
//     color: $dark;
//     font-size: 24px;
//     z-index: -1;
//   }
// }

.results {
  justify-content: center;
  text-align: center;
}
.welcome {
  align-items: center;
  justify-content: center;
  display: flex;
  background: url("../img/queenstown.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  .welcome-middle {
    text-align: center;
    h1 {
      font-size: 50px;
    }
  }
  .formsearch {
    width: 100%;
    align-items: center;
    justify-content: center;

    .searchbox {
      // margin: 25px;
      display: grid;
      width: 100%;
      justify-items: center;
      text-align: center;
      height: 100px;

      input {
        padding: 15px;
        width: 50%;
        border-color: $dark;
      }
    }
    .btn-search {
      text-align: center;
    }
    .btn-search button {
      background-color: $primary;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid $dark;
      width: 150px;
      text-align: center;
      margin: 25px;
      color: $light;
      text-decoration: none;
    }
  }
}
.populardestination {
  // display: grid;
  justify-content: center;
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;
  .box {
    height: 100vh;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
    // border: 2px solid rgb(121, 122, 73);
    .box1 {
      background: url("../img/cathe.jpg") center no-repeat;
      background-size: cover;
      grid-column: 1 / 3;
      grid-row: 1/ 2;
      color: white;
    }
    .box2 {
      background: url("../img/wellington.jpg") center no-repeat;
      background-size: cover;
      color: white;
    }
    .box3 {
      background: url("../img/mtcook.jpg") center no-repeat;
      background-size: cover;
      background-color: rgb(126, 25, 25);
      color: white;
    }
    .box4 {
      background: url("../img/milford.jpg") center no-repeat;
      background-size: cover;
      color: white;
      grid-column: 2/4;
    }
  }
}
.recommended {
  justify-content: center;
  text-align: center;
  // display: grid;
  max-width: 80rem;
  margin: 0 auto;
  height: 100%;
  .hikers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 300px;
    margin-bottom: 100px;
    .destinationimg1 {
      background: url("../img/FranzJosefGlacier.jpg") center no-repeat;
      background-size: cover;
      // grid-column: 1 / 3;
      // grid-row: 1/ 2;
    }
    .destinationimg2 {
      background: url("../img/mttaranaki.jpg") center no-repeat;
      background-size: cover;
    }
    .destinationimg3 {
      background: url("../img/tongariro.jpg") center no-repeat;
      background-size: cover;
    }
    .destinationimg4 {
      background: url("../img/wanaka.jpg") center no-repeat;
      background-size: cover;
    }
    .destinationimg5 {
      background: url("../img/hump.jpg") center no-repeat;
      background-size: cover;
    }
    .destinationimg6 {
      background: url("../img/glenorchy.jpg") center center no-repeat;
      background-size: cover;
    }
    .destinationimg7 {
      background: url("../img/taupo.jpg") center no-repeat;
      background-size: cover;
    }
    .destinationimg8 {
      background: url("../img/abeltasman.jpeg") center no-repeat;
      background-size: cover;
    }
  }
}
.activities {
  justify-content: center;
  text-align: center;
  max-width: 80rem;
  margin: 0 auto 100px;
  height: 100%;
  // margin-bottom: 100px;
  .funactivities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    .desc {
      text-align: justify;
    }
    .activitiesimg1 {
      background: url("../img/sanddunes.jpg") no-repeat center center;
      background-size: cover;
      grid-column: 2/ 3;
      grid-row: 1 / 3;
    }
  }
}
