@import "config.scss";
@import "mobile.scss";
@import "normalize";
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,900;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  height: 100%;
  position: relative;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: $dark;
  line-height: 1.6;
  position: relative;
}
h1,
h2,
h3 {
  line-height: 1;
}
p {
  margin-top: 0;
}
ul {
  list-style: none;
}
// .content {
//   position: relative;
//   height: 100%;
// }
header {
  position: fixed;
  background-color: $dark;
  //   padding: 1em;
  width: 100%;
  // height: 80px;
  //   max-width: 80%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  z-index: 2;
  //   margin-top: 50px;
}
footer {
  background-color: $dark;
  width: 100%;
  text-align: center;
  padding: 50px;
  // position: absolute;
  bottom: 0;
  .footercontent {
    color: white;
  }
}
.main {
  position: relative;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in;
  &.logo {
    // display: flex;
    justify-content: center;
    position: fixed;
    float: left;
  }
  .navbar-links {
    // transition: all 0.3s ease 0.15s;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      // transition: all 0.5s ease-in;
      a {
        text-decoration: none;
        color: $light;
        padding: 1rem;
        display: block;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
.hamburger {
  position: absolute;
  top: 3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  .line {
    height: 3px;
    width: 100%;
    background-color: $light;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.5s ease-in;
  }
}
.wrapper {
  color: $dark;
  background-color: $light;
  border: 2px solid $dark;
  width: 50%;
  height: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 5px;
  .select-header {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
    .header-title {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .select-list {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.75) !important;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500%;
    margin-top: 20px;
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
    li {
      list-style-type: none;
      &:first-of-type > button {
        border-top: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-of-type > button {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      button {
        display: flex;
        justify-content: space-between;
        background-color: white;
        font-size: 16px;
        padding: 15px 20px 15px 20px;
        border: 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: left;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        &:hover,
        &:focus {
          cursor: pointer;
          // font-weight: bold;
          background-color: #ccc;
        }
      }
    }
  }
}

.results {
  justify-content: center;
  text-align: center;
}
.welcome {
  align-items: center;
  justify-content: center;
  display: flex;
  background: url("../img/queenstown.jpg") center center no-repeat;
  background-size: cover;
  height: 85vh;
  flex-direction: column;
  .welcome-middle {
    text-align: center;
    h1 {
      font-size: 50px;
      color: white;
    }
  }
  .formsearch {
    width: 100%;
    align-items: center;
    justify-content: center;

    .searchbox {
      // margin: 25px;
      display: grid;
      width: 100%;
      justify-items: center;
      text-align: center;
      // height: 100px;

      input {
        padding: 15px;
        width: 50%;
        border-color: $dark;
      }
    }
    .btn-search {
      text-align: center;
    }
    .btn-search button {
      background-color: $primary;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid $dark;
      width: 150px;
      text-align: center;
      margin: 25px;
      color: $light;
      text-decoration: none;
      transition: 0.5s ease-out;
      &:hover {
        transition: 0.5s ease-out;
        width: 200px;
      }
    }
  }
}
.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  margin-bottom: 100px;
  transition: 0.2s ease-in-out;
  .boxes {
    background-color: $light;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      color: red;
      transform: translate(0px, -15px);
      box-shadow: rgba(0, 0, 0, 5) 5px 5px 8px;
      img {
        transition: 0.5s ease-in-out;
        filter: grayscale(100%);
      }
      .name {
        visibility: visible;
        transition: 0.5s ease-in-out;
        transform: translate(0, 0);
      }
    }
    a {
      color: $light;
    }
    .name {
      position: absolute;
      visibility: hidden;
      color: $light;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out;
      transform: translate(-100%, -100%);
      text-align: center;
      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin-left: 2px;
      }
    }
    .image {
      width: 100%;
      height: 100%;
      .card-image {
        width: 100%;
        height: 100%;
        position: relative;
        // object-fit: fill;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }
}
.populardestination {
  justify-content: center;
  text-align: center;
  max-width: 90rem;
  margin: 20px auto;
}
.recommended {
  justify-content: center;
  text-align: center;
  // display: grid;
  max-width: 90rem;
  margin: 0 auto;
  height: 100%;
}

.searchsection {
  // position: relative;
  height: 100%;
  .searchresults {
    height: 50vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: url("../img/abeltasman.jpeg") center no-repeat;
    background-size: cover;
    color: $light;
    h1 {
      font-size: 50px;
    }
  }
  .resultheading {
    text-align: center;
    .filters {
      margin-top: 15px;
      display: inline-flex;
    }
    .searchbar {
      width: 100%;
      margin-top: 15px;
      display: inline-flex;
      justify-content: center;
      input {
        padding: 10px;
        width: 30%;
        border: 2px solid $dark;
      }
      button {
        border: 2px solid $dark;
        background-color: $primary;
        color: $light;
        width: 120px;
        border-radius: 5px;
        margin-left: 25px;
        transition: 0.5s ease-out;
        &:hover {
          transition: 0.5s ease-out;
          width: 200px;
        }
      }
    }
  }
  .searchlist {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    margin: 20px auto;
    grid-gap: 20px;
    max-width: 90%;
    // overflow: hidden;
    // position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    background-color: $light;
    padding: 20px;
    .description {
      margin: 0.5em;
      text-align: justify;
      h6 {
        margin: 0;
        font-weight: 600;
      }
      p {
        margin: 8px auto 0;
        font-size: 15px;
      }
      a {
        font-size: 15px;
      }
    }
    .searchcard1 {
      background-color: $light;
      display: flex;
      flex-direction: column;
      // grid-template-columns: auto;
      // grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
      width: 100%;
      // height: 15rem;
      text-align: left;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
      border-radius: 5px;
      overflow-x: hidden;
      overflow-y: hidden;
      .image {
        width: 100%;
        height: 100%;
        .card-image {
          width: 100%;
          height: 100%;
          position: relative;
          // object-fit: fill;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }
    }
  }
}

.activities {
  justify-content: center;
  text-align: center;
  max-width: 90rem;
  margin: 0 auto 100px;
  height: 100%;
}
.emptysection {
  padding-bottom: 100px;
}

.about {
  height: 100vh;
  margin-top: 130px;
  .about-intro {
    height: 100%;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
    h1 {
    }
    .about-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-auto-rows: minmax(300px, auto);
      margin: 5px;
      .tp-logo {
        background: url("../img/logo.png") center center no-repeat;
        // background-size: cover;
        // height: 100%;
        // width: 100%;
      }
      .about-desc {
        text-align: justify;
      }
    }
  }
}
