@import "config.scss";
@import "mobile.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,200&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  //   width: 100%;
  height: 100vh;
  //   max-width: 2000px;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  color: $dark;
  line-height: 1.6;
}
h1,
h2,
h3 {
  line-height: 1;
}
p {
  margin-top: 0;
}
ul {
  list-style: none;
}
.logo {
  //   margin-top: 0.5em;
}
header {
  position: fixed;
  background-color: $dark;
  //   padding: 1em;
  width: 100%;
  max-width: 80%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.main {
  background-image: url("../img/queenstown.jpg");
  //   background-color: rgb(223, 219, 219);
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  //   .main-bg {
  //     // padding-top: 300px;
  //     .main-content {
  //       display: grid;
  //       grid-template-columns: repeat(3, 1fr);
  //       grid-template-rows: repeat(10, 1fr) min-content;
  //       top: 0;
  //       left: 0;
  //       right: 0;
  //       margin: auto 0;
  //       .main-title {
  //         grid-row: 2;
  //         grid-column: 2;
  //       }
  //       .intro {
  //         grid-row: 3;
  //         grid-column: 2;
  //       }
  //       .links {
  //         grid-row: 4;
  //         grid-column: 2;
  //       }
  //       // justify-content: center;
  //     }
  //   }
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  .logo {
    justify-self: start;
  }

  .nav_list {
    display: flex;
    justify-content: space-around;
    margin: 0;

    list-style: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: $fntbold;
    letter-spacing: 1px;
    .nav_list-item {
      .nav__link {
        text-decoration: none;
        color: $light;
        padding: 15px;
        i {
          font-size: 20px;
        }
        &:hover {
          background-color: $primary;
          color: $light;
        }
      }
    }
  }
  .hamburger {
    display: none;
  }
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: $light;
    margin: 5px;
    cursor: pointer;
  }
}

// .weather {
//   display: grid;
//   grid-template-columns: min-content 1fr;
//   background-color: $dark;
//   color: $light;
//   text-align: center;
//   .weather__icon {
//     grid-row: span 2;
//     background-color: $primary;
//     padding: 0.5em;
//     display: flex;

//     font-size: 35px;
//   }
//   .weather_info {
//     margin: 0;
//     margin-left: 0.75em;
//     text-align: left;
//     color: rgba(255, 255, 255, 0.7);
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     display: flex;
//     span {
//       color: $light;
//       font-size: 1rem;
//       margin-left: auto;
//       margin-right: 0.75rem;
//       text-transform: none;
//     }
//   }
//   .weather_info:first-of-type {
//     margin-top: 0.5em;
//     margin-bottom: 0.5rem;
//     position: relative;
//   }
//   .weather_info:first-of-type::after {
//     content: "";
//     position: absolute;
//     background: $light;
//     opacity: 0.25;
//     height: 3px;
//     width: calc(100% - 0.75rem);
//     bottom: -0.25rem;
//   }
//   .weather_info:last-of-type {
//     margin-bottom: 0.5em;
//   }
// }

// .main {
//   padding: 3em 1em 10rem;
//   color: white;
//   .main-title {
//     line-height: 1;
//     font-weight: $fntblack;
//     font-size: 3rem;
//     margin-bottom: 1rem;
//   }
//   .main-bg {
//     background-image: url("../img/queenstown.jpg");
//     background-size: cover;
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     .intro {
//       margin-bottom: 1rem;
//     }
//     .btn {
//       cursor: pointer;
//       display: inline-block;
//       text-transform: uppercase;
//       padding: 0.5em 1.5em;
//       font-size: 1rem;
//       text-decoration: none;
//       letter-spacing: 1px;
//       font-weight: $fntbold;
//       margin-bottom: 0.75em;
//       & + .btn {
//         margin-left: 1em;
//       }
//     }
//     .btn-primary {
//       background-color: $primary;
//       color: $light;
//       &:hover {
//         background-color: $dark;
//       }
//     }
//     .btn-outline {
//       outline: 2px solid $primary;
//       outline-offset: -3px;
//       color: $primary;
//       &:hover {
//         background-color: $dark;
//         outline-color: $dark;
//         color: $light;
//       }
//     }
//   }
// }
