@import "config.scss";
@include mediaSm {
  .menu {
    flex-direction: column;
    align-items: flex-start;

    .navbar-links {
      // display: none;
      opacity: 0;
      visibility: hidden;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: all 0.5s ease-in;
      ul {
        flex-direction: column;
        width: 100%;
      }
      li {
        text-align: center;
      }
      a {
        padding: 0.5rem 1rem;
      }
    }
    .navbar-links.active {
      // display: block;
      opacity: 1;
      visibility: visible;
    }
  }
  .hamburger {
    display: block !important;
    z-index: 5;
    transition: all 0.5s ease-in;
    &.closeham {
      // transform: rotate(180deg) translate(0px, 0px);
      transition: all 0.5s ease-in;
      .line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(7px, 4px);
          transition: all 0.5s ease-in;
        }
        &:nth-child(2) {
          transform: translateX(-50px);
          background: transparent;
          transition: all 0.5s ease-in;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -5px);
          transition: all 0.5s ease-in;
        }
      }
    }
  }
  .populardestination {
    h1 {
      font-size: 25px;
      // color: burlywood;
    }
    .box {
      display: grid;
      grid-template-rows: repeat(4, 1fr) !important;
      .box1 {
        background-color: yellow !important;
        grid-column: 1/4 !important;
        grid-row: 1 !important;
      }
      .box2 {
        grid-column: 1/4 !important;
        grid-row: 2 !important;
      }
      .box3 {
        grid-column: 1/4 !important;
        grid-row: 3 !important;
      }
      .box4 {
        grid-column: 1/4 !important;
        grid-row: 4 !important;
      }
    }
  }
  .hikers {
    border: 2px solid rgb(121, 122, 73);
    grid-template-columns: 1fr !important;
    grid-auto-rows: 300px;
  }
}
@include mediaMd {
  .menu {
    flex-direction: column;
    align-items: flex-start;

    .navbar-links {
      display: none;
      // visibility: hidden;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: all 0.5s ease-in;
      ul {
        flex-direction: column;
        width: 100%;
      }
      li {
        text-align: center;
      }
      a {
        padding: 0.5rem 1rem;
      }
    }
    .navbar-links.active {
      display: block;
      // visibility: visible;
    }
  }
  .hamburger {
    display: block !important;
    z-index: 5;
    transition: all 0.5s ease-in;
    &.closeham {
      // transform: rotate(180deg) translate(0px, 0px);
      transition: all 0.5s ease-in;
      .line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(7px, 4px);
          transition: all 0.5s ease-in;
        }
        &:nth-child(2) {
          transform: translateX(-50px);
          background: transparent;
          transition: all 0.5s ease-in;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -5px);
          transition: all 0.5s ease-in;
        }
      }
    }
  }
  .searchbox input {
    width: 95% !important;
  }
  .wrapper {
    width: 95% !important;
  }
  .funactivities {
    grid-template-columns: 1fr !important;
    .activitiesimg1 {
      grid-column: 1/2 !important;
      grid-row: 2 !important;
    }
  }
}
@include mediaLg {
}

@include mediaXl {
}
