@import "config.scss";
@include mediaSm {
  .menu {
    flex-direction: column;
    align-items: flex-start;

    .navbar-links {
      // display: none;
      opacity: 0;
      visibility: hidden;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: all 0.5s ease-in;
      ul {
        flex-direction: column;
        width: 100%;
      }
      li {
        text-align: center;
      }
      a {
        padding: 0.5rem 1rem;
      }
    }
    .navbar-links.active {
      // display: block;
      opacity: 1;
      visibility: visible;
    }
  }
  .hamburger {
    display: block !important;
    z-index: 5;
    transition: all 0.5s ease-in;
    &.closeham {
      // transform: rotate(180deg) translate(0px, 0px);
      transition: all 0.5s ease-in;
      .line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(7px, 4px);
          transition: all 0.5s ease-in;
        }
        &:nth-child(2) {
          transform: translateX(-50px);
          background: transparent;
          transition: all 0.5s ease-in;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -5px);
          transition: all 0.5s ease-in;
        }
      }
    }
  }

  .hikers {
    border: 2px solid rgb(121, 122, 73);
    grid-template-columns: 1fr !important;
    grid-auto-rows: 300px;
  }
  .resultheading {
    .searchbar {
      flex-direction: column;
      height: 120px;
      align-items: center;

      input {
        width: 90%;
      }
      // button {
      //   margin-top: 25px;
      //   padding: 5px;
      // }
    }
  }
  #footer {
    padding: 1px;
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 10px;
    }
  }
  #welcome {
    h1 {
      font-size: 35px;
    }
  }
  .populardestination,
  .recommended,
  .activities {
    h1 {
      font-size: 35px;
    }
  }
}
@include mediaMd {
  .menu {
    flex-direction: column;
    align-items: flex-start;

    .navbar-links {
      // display: none;
      visibility: hidden;
      flex-flow: column wrap;

      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: all 0.5s ease-in;
      position: absolute;
      // top: 0;
      // bottom: 0;
      background-color: $dark;
      transform: translate(0, -100%);
      ul {
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      li {
        text-align: center;
      }
      a {
        padding: 0.5rem 1rem;
      }
    }
    .navbar-links.active {
      // display: block;
      visibility: visible;
      transform: translate(0, 0);
    }
  }
  .hamburger {
    display: block !important;
    z-index: 5;
    transition: all 0.5s ease-in;
    &.closeham {
      // transform: rotate(180deg) translate(0px, 0px);
      transition: all 0.5s ease-in;
      .line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(7px, 4px);
          transition: all 0.5s ease-in;
        }
        &:nth-child(2) {
          transform: translateX(-50px);
          background: transparent;
          transition: all 0.5s ease-in;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -5px);
          transition: all 0.5s ease-in;
        }
      }
    }
  }
  .searchbox input {
    width: 95% !important;
  }
  .wrapper {
    width: 95% !important;
  }
  .funactivities {
    grid-template-columns: 1fr !important;
    .activitiesimg1 {
      grid-column: 1/2 !important;
      grid-row: 2 !important;
    }
  }
  .populardestination,
  .recommended,
  .activities {
    .box {
      .boxes {
        .name {
          visibility: visible;
          height: 25%;
          width: 100%;
          transition: 0.5s ease-in-out;
          transform: translate(0, 0);
          bottom: 0;
          text-align: center;
        }
      }
    }
  }
  #searchresults {
    h1 {
      font-size: 35px;
    }
  }
  .resultheading {
    #searchbar {
      flex-direction: column;
      height: 150px;
      align-items: center;
      input {
        width: 90%;
      }
      button {
        margin-top: 25px;
        padding: 5px;
      }
    }
  }
  #emptysection {
    padding-bottom: 200px;
  }
  #footer {
    padding: 5px;
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 15px;
    }
  }
}
@include landScape {
  #welcome {
    height: 100vw;
  }
  #searchresults {
    height: 50vw;
  }
  #footer {
    padding: 1px;
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 10px;
    }
  }
}
@include mediaLg {
  .populardestination,
  .recommended,
  .activities {
    .box {
      .boxes {
        .name {
          visibility: visible;
          height: 25%;
          width: 100%;
          transition: 0.5s ease-in-out;
          transform: translate(0, 0);
          bottom: 0;
          text-align: center;
        }
      }
    }
  }
}

@include mediaXl {
}
